# ignore everything
*

# allow these folders
!mods/
!config/
!shaderpacks/
!resourcepacks/

!mods/**
!shaderpacks/**
!resourcepacks/**

!config/biomeswevegone/
!config/biomeswevegone/**
!config/cobblemon/
!config/cobblemon/**
!config/jade/
!config/jade/**
!config/justzoom/
!config/justzoom/**
!config/replication/
!config/replication/**
!config/xaero/
!config/xaero/**

!config/badoptimizations.txt
!config/configured-client.properties
!config/copycats-common.toml
!config/createrailwaysnavigator-client.toml
!config/createrailwaysnavigator-common.toml
!config/emi.css
!config/emojiful-client.toml
!config/emotecraft.json
!config/everycomp-common.toml
!config/everycomp-hazardous.toml
!config/immersiveui.yaml
!config/jei-server.toml
!config/naturescompass-common.toml
!config/refurbished_furniture.server.toml
!config/sodium-extra-options.json
!config/sodiumextras-client.toml
!config/sodium-options.json
!config/tempad.jsonc
!config/tempad-client.jsonc
!config/waterframes-client.toml
!config/waterframes-server.toml
!config/xaerohud.txt
!config/xaeropatreon.txt
!config/xptome.toml

!.gitattributes
!README.md